extends ../../layouts/main.pug

block variables
  - var page = 'next'

block content
  .container
    h1 Ближайшие выступления
    .no-concerts
      p На данный момент концертные выступления не запланированы. Квартет "Притча" Вы можете послушать на службах в Раифском монастыре: во время вечерней в субботу (с 15:30) и утренней в воскресение (c 8:30). Точное время начала богослужения может изменяться.
      .news__date Информация обновлена: январь 2020 года
      p Для организации выступлений Вы можете связаться с коллективом по имеющимся на сайте контактам.
    .concerts__page
      .concerts-page__concerts.concerts
        .concert
          .concert__information
            .concert-information__place Казань. Филармония
            .concert-information__date 6 февраля
            .concert-information__description Праздничный концерт, приуроченный к празднику Крещения Господня. Квартет исполнит как духовные песнопения, так и русские народные песни и романсы.
          .concert__buy
            a.button.concert-buy__button(role='button' href='#') Купить билеты
        .concert
          .concert__information
            .concert-information__place Казань. Филармония
            .concert-information__date 6 февраля
            .concert-information__description Праздничный концерт, приуроченный к празднику Крещения Господня. Квартет исполнит как духовные песнопения, так и русские народные песни и романсы.
          .concert__buy
            a.button.concert-buy__button(role='button' href='#') Купить билеты
        .concert
          .concert__information
            .concert-information__place Казань. Филармония
            .concert-information__date 6 февраля
            .concert-information__description Праздничный концерт, приуроченный к празднику Крещения Господня. Квартет исполнит как духовные песнопения, так и русские народные песни и романсы.
          .concert__buy
            a.button.concert-buy__button(role='button' href='#') Купить билеты
        .concert
          .concert__information
            .concert-information__place Казань. Филармония
            .concert-information__date 6 февраля
            .concert-information__description Праздничный концерт, приуроченный к празднику Крещения Господня. Квартет исполнит как духовные песнопения, так и русские народные песни и романсы.
          .concert__buy
            a.button.concert-buy__button(role='button' href='#') Купить билеты
        .concert
          .concert__information
            .concert-information__place Казань. Филармония
            .concert-information__date 6 февраля
            .concert-information__description Праздничный концерт, приуроченный к празднику Крещения Господня. Квартет исполнит как духовные песнопения, так и русские народные песни и романсы.
          .concert__buy
            a.button.concert-buy__button(role='button' href='#') Купить билеты
      .concerts-page__information
        p.concerts-page-information__article Концерты квартета “Притча” - это всегда очень личное единение с музыкой, которая исполняется исключительно а-капелла и вживую. О мастрестве и таланте участников коллектива говорит большое количество наград, полученных в результате участия в многочисленных конкурсах и музыкальных фестивалях, среди которых XVII Международный фестиваль православной музыки (Польша, 1998 г.),  II Всероссийский фестиваль народного творчества  "Салют Победы",  посвященный 55-летию Дня Победы (Москва, Красная площадь, 2000 г.), 53-й Международный конкурс имени Гуидо де Ареццо  (Италия, 2005 г.), на котором “Притча” завоевала специальную награду премии.
        .concerts-page__quote
          h2.concerts-page__quote-text "Через наши песнопения мы приводим людей к Богу. Даже если придет в храм 1 человек после концерта, для нас будет уже хорошо..."
          h3.concerts-page__quote-date руководитель квартета о. Сергий Уренцев. 2014 год.
