extends ../../components/layout/template.pug

block variables
  - var page = 'about'

block content
  .container
    h1 О коллективе
    p Вокальный квартет "Притча" Раифского Богородицкого мужского монастыря был создан в 1992 году. Репертуар квартета состоит из православных духовных песнопений, народных песен и романсов русских композиторов, произведений зарубежных авторов и своих собственных сочинений. Произведения исполняются "a capella", т.е. без инструментального сопровождения, и почти все они звучат в собственной обработке квартета. Основная деятельность квартета — участие в Богослужениях, сохранение и развитие русской Православной певческой культуры в России и за ее пределами. Квартет занимается миссионерской деятельностью.
    .cast__wrapper
      h3.subtitle Состав квартета:
      ul
        li Регент о. Сергий  (Уренцев) -  2-й тенор - художественный руководитель квартета (подбор репертуара, обработка православных песнопений).
        li Станислав Юркульский -  1-й тенор.
        li Денис Осянин -  баритон.
        li Федор Гарипов -  бас, директор квартета
    .video.video--small
      a(class='video__link' href='https://www.youtube.com/watch?v=ZJucn-WfPZc')
        img(class='video__img-music video__img' src='https://i.ytimg.com/vi/ZJucn-WfPZc/maxresdefault.jpg' alt='«Многая лета» в исполнении вокального квартета Раифского монастыря «Притча»')
      button(class='video__button' aria-label='Запустить видео')
        svg(width='68' height='48' viewBox='0 0 68 48')
          path(class='video__button-shape' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
          path(class='video__button-icon' d='M 45,24 27,14 27,34')
    .festivals__wrapper
      h3.subtitle Участие в конкурсах и фестивалях:
      p 1997г. Калуга - IV Всероссийский конкурс мужских хоровых коллективов  "Поющее мужское братство". Лауреат I премии.
      p 1997г. Москва - Всероссийский фестиваль народного творчества, посвященный 850-летию Москвы.
      p 1998г. Хайнувка (Республика Польша) - XVII Международный фестиваль православной музыки.
      p 1998г. Казань - Ассамблея хоров Республики Татарстан.
      p 1998г. Республика Польша - II Дни Российской культуры "Белосток-98".
      p 1999г. Республика Польша - Международный фестиваль "Краков встречает церковную музыку".
      p 1999г. Варшава - Дни культуры Российской Федерации в Республике Польша.
      p 1999г. Москва - XI Международный фестиваль православной музыки в России.
      p 1999г. Москва - VII Международный праздник диаконского и церковно - певческого искусства имени Великого архидиакона Константина Розова.
      p 2000г. Москва,  Красная площадь - II Всероссийский фестиваль народного творчества  "Салют Победы", посвященный 55-летию Дня Победы.
      p 2000г. Санкт-Петербург - II Международный фестиваль мужских хоров и квартетов "Барбершоп Гармония".
      p 2002г. Кифиссия, Греция, XV Международный хоровой фестиваль.
      p 2002г. Пусан, Республика Корея, II хоровая Олимпиада.
      p 2004г. Поморие. Болгария. I Международный фестиваль духовной музыки.
      p 2005г. Поморие. Болгария. II Международный фестиваль духовной музыки.
      p 2005г. Ареццо. Италия. 53-й Международный конкурс имени Гуидо де Ареццо  (Guido de Arezzo) - специальная премия конкурса.
      p 2006г. Поморие. Болгария. III Международный фестиваль духовной музыки.
      p 2006г. Таллин. Эстония. 13-й Международный фестиваль Православной музыки Credo.
      p 2008г. Солсбери. Англия. 35-й Международный фестиваль искусств.
      p 2010г. Порто-Торрес. Италия. 27-й Международный фестиваль "ГОЛОСА ЕВРОПЫ" (VOCI D'EUROPA INTERNATIONAL).
      p 2014г. Торжества в честь 700-летия преподобного Сергия Радонежского в Троице-Сергиевой лавре в день памяти Преподобного.
      p 2015г. Казань. Гала-концерт фестиваля «Музыка веры» Парк ФИНА.
      p 2016г. Москва. гала-концерт фольклорного конкурса «Казачий круг».
