@use "sass:color";
@use "../../styles/variables";

.button {
  border: none;
  border-radius: 1em / 50%;
  padding: 0.4em 0.5em;
  background-color: variables.$color-primary;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 1.4em;
  text-decoration: none;
  color: variables.$color-secondary-light;
  cursor: pointer;
  display: inline-block;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.2em 0.5em -0.2em variables.$color-text;
}

.button--big {
  font-size: 1.8em;
}
