@use "../../styles/variables";

.links-streaming {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2em;
}

.streaming-link {
  background-size: cover;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  width: 100%;
  max-width: 12em;
  height: 2em;
  min-width: 5em;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.vk-music {
  background-image: url("../../images/vk-music-icon-full.svg");
  flex: none;
}

.yandex-music {
  background-image: url("../../images/yandex-music-icon-full.svg");
}
