@use "../../styles/variables";

.links-streaming {
  display: flex;
  flex-wrap: wrap;
  margin: -1em 0;
  flex: 1 1 auto;
  gap: 0 1em;
}

.link {
  display: inline-block;
  background-repeat: no-repeat;

  background-size: cover;
  overflow: hidden;
  border: 0.1em solid variables.$color-text;
  border-radius: 1em;
  transition: transform 0.3s ease;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.vk-music {
  background-image: url("../../images/vk-music-icon-full.svg");
  flex: none;
}

.yandex-music {
  background-image: url("../../images/yandex-music-icon-full.svg");
}

.vk-music,
.yandex-music {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
