.links
  a.link.vk-music(href='https://vk.com/artist/vokalnykvartet_pritcha_raifskogobogoroditskogomuzhskogomonastyrya' target='_blank' aria-label='перейти на страницу коллектива в VK Music' rel="noopener")
  a.link.yandex-music(href='https://music.yandex.ru/artist/23674677' target='_blank' aria-label='перейти на страницу коллектива в Яндекс Музыке' rel="noopener")
