@use "../../styles/variables";

.links-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2em;
}

.social-link {
  background-size: cover;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  max-width: 12em;
  width: 100%;
  height: 2em;
  min-width: 5em;

  transition: transform 0.3s ease;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.apple-link-listen {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music");
}

.apple-link-watch {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2012-09-01&kind=musicvideo&bubble=apple_music");
}

.yandex-link {
  background-image: url("https://yastatic.net/s3/doc-binary/freeze/ru/zen/f95dafd184593be2dcbe69aa51be3236e5193799.png");
  flex: none;
}

.rutube-link {
  background-image: url("../../images/rutube-icon-full.svg");
  flex: none;
}

.vk-link {
  background-image: url("../../images/vkontakte-icon-full.svg");
  flex: none;
}
