$breakpoint: 48em;

//colors
$color-primary: #ac8c4c !default;
$color-secondary: #0e0d0d;
$color-text: #ffffff;

/* $color-secondary-light: #171717;
$gray: #212121;
$delimiter-gray: #3a3838;
$medium-gray: #7b7b7b;
$light-gray: #c4c4c4;
$color-primary-light: #c7a156;
$color-primary-dark: #a1824a; */
