@font-face {
  font-family: "SPSL New Cyrillic";
  src: url(/spsl-new-cyrillic.woff2) format("woff2");
  src: url(/spsl-new-cyrillic.woff) format("woff");
}

* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #0e0d0d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SPSL New Cyrillic", serif;
  font-weight: 100;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
}

.container {
  max-width: 90em;
  margin: 0 auto;
  padding: 0 1em;
}

.header {
  background-color: #171717;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 -1rem;
  padding: 0.5em 0;
}

.header-left-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
}

.header-logo__img {
  /* fhjkgkj */
  height: 1.5em;
  display: block;
  margin: 1rem;
}

.header__close-button {
  margin-right: 1em;
}

.header-close-button {
  display: block;
  padding: 0.5em;
  background-color: transparent;
  border: none;
  position: relative;
  width: 3em;
  height: 3em;
}

.header__hamburger-button {
  margin-right: 1em;
}

.header-hamburger-button {
  display: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  background-color: transparent;
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  font-size: 1em;
}

.header-hamburger-button::before {
  display: block;
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 0.2em;
  border-radius: 0.1em;
  box-shadow: 0 0.55em #ffffff, 0 -0.55em #ffffff;
}

.header--collapsed .header__close-button,
.header--collapsed .header__right-column {
  display: none;
}

.header--collapsed .header-hamburger-button {
  display: flex;
}

.header-close-button::before,
.header-close-button::after {
  display: block;
  content: "";
  width: calc(100% - 1em);
  height: calc((100% - 1em) * 0.1);
  background-color: #ffffff;
  position: absolute;
}

.header-close-button::before {
  transform: rotate(45deg);
}

.header-close-button::after {
  transform: rotate(-45deg);
}

.header__right-column {
  margin: 0;
}

.header-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header-menu__link {
  display: block;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 2em;
  position: relative;
}

.header-menu__link:hover::after {
  display: block;
  content: "";
  height: 0.2rem;
  width: calc(100% - 2rem);
  background-color: #ac8c4c;
  position: absolute;
  top: 100%;
  left: 1rem;
}

.header__button {
  margin: 0.5rem 1rem;
  white-space: nowrap;
  font-size: 1.2em;
}

.button {
  border: none;
  border-radius: 1em / 50%;
  padding: 0.4em 0.5em;
  background-color: #ac8c4c;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 1.8em;
  text-decoration: none;
  color: #171717;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.hero__info {
  flex: 1 1 25em;
}

.hero-info__title {
  font-size: 5em;
  text-transform: uppercase;
  color: #ac8c4c;
}

.hero__img {
  width: 100%;
  max-width: 50em;
  flex: 1 1 auto;
}

.delimiter-after-hero {
  margin: 0;
  border: none;
  border-top: 1px solid #3a3838;
  position: relative;
  overflow: visible;
}

.delimiter-after-hero::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5em;
  bottom: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.newses__title {
  margin: 1.2em 0;
  color: #ac8c4c;
}

.newses__news {
  margin-bottom: 1.5em;
}

.news__name {
  margin: 0.5em -0.5em;
  font-family: "SPSL New Cyrillic", serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.2em;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em;
}

.news__text {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.news__date {
  margin: 0.5em 0;
  text-align: right;
  color: #ac8c4c;
}

.newses__all-link {
  padding: 0.5em;
  margin: 0 -0.5em 0 -0.5em;
  color: #171717;
  text-decoration: none;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 1.5em;
}

.newses__all-link::after {
  content: "";
  display: inline-block;
  background-image: url("/chevron.svg");
  background-repeat: no-repeat no-repeat;
  background-size: 0.8em 0.8em;
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
}

.newses__footer {
  background-color: #ac8c4cd8;
  padding: 0.5em 0;
  border-radius: 0 0 1em 1em;
}

.footer__first-line {
  background-color: #171717;
}

.footer__columns {
  margin: -1em;
  padding-top: 1.5em;
}

.footer-columns {
  display: flex;
  flex-direction: column;
}

.footer__column {
  flex: 1 1 0;
  margin: 1em;
}

.footer-left-column__tittle {
  color: #c4c4c4;
}

.apple-links {
  margin: -0.5em;
}

.footer-links-column__apple-links {
  margin-bottom: 1em;
}

.apple-links__apple-link {
  background-repeat: no-repeat;
  width: 158px;
  height: 45px;
  background-size: cover;
  display: inline-block;
  overflow: hidden;
  margin: 0.5em;
}

.apple-link-listen {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music");
}

.apple-link-watch {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2012-09-01&kind=musicvideo&bubble=apple_music");
}

.socials {
  margin: 0 -0.5em;
}

.socials__social-link {
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
}

.social-link__icon {
  display: block;
}

.contacts-column__title {
  color: #c7a156;
  margin: 0 0 1em 0;
}

.contacts-column__contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.contacts-column-icon {
  margin-right: 1em;
}

.contacts-column-contact {
  color: #c4c4c4;
  font-size: 1em;
  font-weight: bold;
}

.footer__copyright {
  color: #7b7b7b;
  padding: 2em 0 1em 0;
}

.content {
  margin-bottom: 5em;
}

.video {
  display: block;
  position: relative;
  max-width: 35em;
}

.video__link {
  display: block;
}

.video__img {
  position: relative;
  width: 100%;
  margin-top: 2em;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  padding: 0;
  display: none;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video__button-icon {
  fill: #ffffff;
}

.video--enabled {
  cursor: pointer ;
}

.video--enabled .video__button {
  display: block;
}

@media (min-width: 48em) {
  .header {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.084) 0%,
      rgba(196, 196, 196, 0.105) 17.23%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header--collapsed .header-right-column {
    display: flex;
  }

  .header__close-button {
    display: none;
  }

  .header--collapsed .header-hamburger-button {
    display: none;
  }

  .header-right-column {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-menu ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-columns {
    flex-direction: row;
  }

  .footer-links-column {
    text-align: right;
  }
}
