@use "../../styles/variables";

.link {
  background-repeat: no-repeat;
  width: 12em;
  height: 3.2em;
  background-size: cover;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  border: 0.1em solid variables.$color-text;
  border-radius: 1em;

}

.apple-link-listen {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music");
}

.apple-link-watch {
  background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2012-09-01&kind=musicvideo&bubble=apple_music");
}

.yandex-link {
  background-image: url("https://yastatic.net/s3/doc-binary/freeze/ru/zen/f95dafd184593be2dcbe69aa51be3236e5193799.png");
  flex: none;
}
