extends ../../components/layout/template.pug
include ../../components/news/template.pug

block content
  .container
    .hero
      .hero__info.hero-info
        h1.hero-info__title Притча
        h2.hero-info__subtitle Вокальный квартет Раифского Богородицкого мужского монастыря
        h3 Смотрите и слушайте нас в социальных сетях
        include ../../components/social_button_links/template.pug
        include ../../components/donate_link/template.pug
      picture
        source.hero__img(srcset=require("../../images/pritcha-main.webp").default type="image/webp" alt='Фото всех членов вокального квартета Притча.')
        img.hero__img(src=require('../../images/pritcha-main.png').default alt='Фото всех членов вокального квартета Притча.')
  hr.delimiter-after-hero
  .container
    .temp
      .video.temp__video
        a(class='video__link' href='https://www.youtube.com/watch?v=HzM0tOzbm3Y')
          img(class='video__img-music video__img' src='https://i.ytimg.com/vi/HzM0tOzbm3Y/maxresdefault.jpg' alt='«Многая лета» в исполнении вокального квартета Раифского монастыря «Притча»')
        button(class='video__button' aria-label='Запустить видео')
          svg(width='68' height='48' viewBox='0 0 68 48')
            path(class='video__button-shape' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
            path(class='video__button-icon' d='M 45,24 27,14 27,34')
      .temp__text
        h2.congrats__text С Праздником Светлой Пасхи! Христос Воскресе!
  .newses
    .container
      +newses(newses)
    footer.newses__footer
      .container
        a.newses__all-link(href='news.html') Ко всем новостям
