extends ../../components/layout/template.pug
include ../../components/news/template.pug

block content
  .container
    .hero
      .hero__info.hero-info
        h1.hero-info__title Притча
        h2.hero-info__subtitle Вокальный квартет Раифского Богородицкого мужского монастыря
        include ../../components/apple_links/template.pug
      img.hero__img(src=require('../../images/pritcha-main.png').default alt='Фото всех членов вокального квартета Притча.')
  hr.delimiter-after-hero
  .newses
    .container
      +newses(newses)
    footer.newses__footer
      .container
        a.newses__all-link(href='news.html') Ко всем новостям
