extends ../../components/layout/template.pug

block content
  .container
    .hero
      .hero__info.hero-info
        h1.hero-info__title Притча
        h2.hero-info__subtitle Вокальный квартет Раифского Богородицкого мужского монастыря
        include ../../components/apple_links/template.pug
      img.hero__img(src=require('../../images/pritcha-main.png').default alt='Фото всех членов вокального квартета Притча.')
  hr.delimiter-after-hero
  .newses
    .container
      h3.newses__title Новости коллектива:
      .newses__news.news
        a.news__name(href='#') Концерт в Елабуге
        p.news__text 15 ноября Вокальный квартет "Притча" выступил в городе Елабуга на благотоворительом концерте, который был посвящен 76-летию ВОС ООО «Елабуга УкупрПласт» — одного из старейших предприятий Всероссийского общества слепых и декаде инвалидов...
        .news__date Дата публикации: 15.11.2019
      .newses__news.news
        a.news__name(href='#') Выступление в музее истории Раифского монастыря
        p.news__text Вокальный квартет "Притча" дал небольшое выступление на открытии музея истории Раифского монастыря, исполнив как духовные песнопения, так и русские романсы. Многолосие квартета и акустика только что открывшегося в башне XVII века музее никого не оставили равнодушным...
        .news__date Дата публикации: 11.06.2019
      .newses__news.news
        a.news__name(href='#') Запись нового музыкального альбома
        p.news__text Новые музыкальные песнопения являются важнейшей частью жизни квартета "Притча". Именно по этой причине на данный момент коллектив готовится к выпуску нового музыкального альбома, в который войдут византийские распевы...
        .news__date Дата публикации: 10.06.2019
    footer.newses__footer
      .container
        a.newses__all-link(href='news.html') Ко всем новостям
