doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title История квартета Притча :: Вокальный квартет Раифского Богородицкого монастыря
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='keywords' content='притча, вокальный квартет, раифский монастырь, раифа')
    link(rel='stylesheet' href='/index.css')
  body
    header.header.header--collapsed
      .container
        .header__wrapper
          .header__left-column.header-left-column
            a.header__logo.header-logo(href='/index.html')
              img.header-logo__img(src='/pritcha-logo.svg' alt)
            button.header__close-button.header-close-button
            button.header__hamburger-button.header-hamburger-button
          .header__right-column.header-right-column
            nav.header__menu.header-menu
              ul
                li
                  a.header-menu__link(href='/about.html') О коллективе
                li
                  a.header-menu__link(href) Музыка
                li
                  a.header-menu__link(href) Новости
                li
                  a.header-menu__link(href) Ближайшие выступления
                li
                  a.header-menu__link(href) Контакты
            a.button.header__button(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music') Слушать онлайн
    main
      h1 О коллективе
      p Вокальный квартет "Притча" Раифского Богородицкого мужского монастыря был создан в 1992 году. Репертуар квартета состоит из православных духовных песнопений, народных песен и романсов русских композиторов, произведений зарубежных авторов и своих собственных сочинений. Произведения исполняются "a capella", т.е. без инструментального сопровождения, и почти все они звучат в собственной обработке квартета. Основная деятельность квартета — участие в Богослужениях, сохранение и развитие русской Православной певческой культуры в России и за ее пределами. Квартет занимается миссионерской деятельностью.
      h3 Состав квартета:
      ul
        li Регент о. Сергий  (Уренцев) -  2-й тенор - художественный руководитель квартета (подбор репертуара, обработка православных песнопений).
        li Александр Темираев -  1-й тенор.
        li Денис Осянин -  баритон.
        li Федор Гарипов -  бас, директор квартета.

