extends ../layouts/main.pug

block content
  .container
    h1 О коллективе
    p Вокальный квартет "Притча" Раифского Богородицкого мужского монастыря был создан в 1992 году. Репертуар квартета состоит из православных духовных песнопений, народных песен и романсов русских композиторов, произведений зарубежных авторов и своих собственных сочинений. Произведения исполняются "a capella", т.е. без инструментального сопровождения, и почти все они звучат в собственной обработке квартета. Основная деятельность квартета — участие в Богослужениях, сохранение и развитие русской Православной певческой культуры в России и за ее пределами. Квартет занимается миссионерской деятельностью.
    h3 Состав квартета:
    ul
      li Регент о. Сергий  (Уренцев) -  2-й тенор - художественный руководитель квартета (подбор репертуара, обработка православных песнопений).
      li Александр Темираев -  1-й тенор.
      li Денис Осянин -  баритон.
      li Федор Гарипов -  бас, директор квартета.
