extends ../layouts/main.pug

block variables
  - var page = 'contacts'

block content
  .container
    h1 Контакты
    .contacts-page__contacts
      .contacts-column__contact
        img.contacts-column-icon(src='/call-icon.svg')
        p.contacts-page__contact +791769656 (руководитель квартета о. Сергий)
      .contacts-column__contact
        img.contacts-column-icon(src='/mail-icon.svg')
        p.contacts-page__contact E-mail адрес: pritcha@mail.ru
      .contacts-column__contact
        img.contacts-column-icon(src='/map-icon.svg')
        p.contacts-page__contact Россия, Республика Татарстан, Зеленодольский р-н, Раифский монастырь 422537
