doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Притча :: Вокальный квартет Раифского Богородицкого монастыря
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='keywords' content='притча, вокальный квартет, раифский монастырь, раифа')
    link(rel='stylesheet' href='/index.css')
  body
    header.header.header--collapsed
      .container
        .header__wrapper
          .header__left-column.header-left-column
            a.header__logo.header-logo(href)
              img.header-logo__img(src='/pritcha-logo.svg' alt)
            button.header__close-button.header-close-button
            button.header__hamburger-button.header-hamburger-button
          .header__right-column.header-right-column
            nav.header__menu.header-menu
              ul
                li
                  a.header-menu__link(href) О коллективе
                li
                  a.header-menu__link(href) Музыка
                li
                  a.header-menu__link(href) Новости
                li
                  a.header-menu__link(href) Ближайшие выступления
                li
                  a.header-menu__link(href) Контакты
            a.button.header__button(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music') Слушать онлайн
    main
      .container
        .hero
          .hero__info.hero-info
            h1.hero-info__title Притча
            h2.hero-info__subtitle.
              
              Вокальный квартет Раифского Богородицкого мужского монастыря
              
            .apple-links
              a.apple-links__apple-link.apple-link-listen(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music')
              a.apple-links__apple-link.apple-link-watch(href='https://geo.music.apple.com/us/music-video/%D1%86%D0%B0%D1%80%D0%B8%D1%86%D0%B5-%D0%BC%D0%BE%D1%8F-%D0%BF%D1%80%D0%B5%D0%B1%D0%BB%D0%B0%D0%B3%D0%B0%D1%8F/728504260?mt=5&app=music')
          img.hero__img(src='/pritcha-main.png' alt='Фото всех членов вокального квартета Притча.')
      hr.delimiter-after-hero
      .newses
        .container
          h3.newses__title Новости коллектива:
          .newses__news.news
            a.news__name(href='#') Концерт в Елабуге
            p.news__text.
              
              15 ноября Вокальный квартет "Притча" выступил в городе Елабуга на благотоворительом концерте, который был посвящен 76-летию ВОС ООО «Елабуга УкупрПласт» — одного из старейших предприятий Всероссийского общества слепых и декаде инвалидов...
              
            .news__date Дата публикации: 15.11.2019
          .newses__news.news
            a.news__name(href='#') Выступление в музее истории Раифского монастыря
            p.news__text.
              
              Вокальный квартет "Притча" дал небольшое выступление на открытии музея истории Раифского монастыря, исполнив как духовные песнопения, так и русские романсы. Многолосие квартета и акустика только что открывшегося в башне XVII века музее никого не оставили равнодушным...
              
            .news__date Дата публикации: 11.06.2019
          .newses__news.news
            a.news__name(href='#') Запись нового музыкального альбома
            p.news__text.
              
              Новые музыкальные песнопения являются важнейшей частью жизни квартета "Притча". Именно по этой причине на данный момент коллектив готовится к выпуску нового музыкального альбома, в который войдут византийские распевы...
              
            .news__date Дата публикации: 10.06.2019
        footer.newses__footer
          .container
            a.newses__all-link(href='#').
              
              Ко всем новостям
              
    footer.footer
      .footer__first-line
        .container
          .footer__columns.footer-columns
            .footer__column.footer-info-column
              img(src='/pritcha-logo.svg' alt='Логотип квартета Притча')
              h3.left-column__tittle.
                
                Вокальный квартет Раифского Богородицкого мужского монастыря
                
            .footer__column.footer-contacts-column
              h3.contacts-column__title Контакты
              .contacts-column__contact.right-column__phone
                img.contacts-column-icon(src='/call-icon.svg' alt='иконка в виде телефонной трубки')
                .contacts-column-contact.
                  
                  +791769656 (руководитель квартета о. Сергий)
                  
              .contacts-column__contact.right-column__mail
                img.contacts-column-icon(src='/mail-icon.svg' alt='иконка в виде почтового письма')
                .contacts-column-contact pritcha@mail.ru
              .contacts-column__contact.right-column__map
                img.contacts-column-icon(src='/map-icon.svg' alt='иконка в виде точке местоположения на карте')
                .contacts-column-contact.
                  
                  Россия, Республика Татарстан, Зеленодольский р-н, Раифский монастырь 422537
                  
            .footer__column.footer-links-column
              .footer-links-column__apple-links
                .apple-links
                  a.apple-links__apple-link.apple-link-listen(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music')
                  a.apple-links__apple-link.apple-link-watch(href='https://geo.music.apple.com/us/music-video/%D1%86%D0%B0%D1%80%D0%B8%D1%86%D0%B5-%D0%BC%D0%BE%D1%8F-%D0%BF%D1%80%D0%B5%D0%B1%D0%BB%D0%B0%D0%B3%D0%B0%D1%8F/728504260?mt=5&app=music')
              .footer-links-column__socials.socials
                a.socials__social-link.vk-link(href='https://vk.com/qpritcha')
                  img.social-link__icon.vk-icon(src='/vk-icon.svg' alt='иконка для ссылки на официальную группу квартета Притча на сайте vk.com')
                a.socials__social-link.youtube-link(href='https://www.youtube.com/user/QuartetPritcha')
                  img.social-link__icon.youtube-icon(src='/youtube-icon.svg' alt='иконка для ссылки на официальный канал квартета Притча на сайте Youtube.com')
      .footer__second-line
        .container
          .footer__copyright Квартет “Притча” © 2019
