extends ../layouts/main.pug

block content
  .container
    .hero
      .hero__info.hero-info
        h1.hero-info__title Притча
        h2.hero-info__subtitle.

          Вокальный квартет Раифского Богородицкого мужского монастыря

        .apple-links
          a.apple-links__apple-link.apple-link-listen(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music' target='_blank')
          a.apple-links__apple-link.apple-link-watch(href='https://geo.music.apple.com/us/music-video/%D1%86%D0%B0%D1%80%D0%B8%D1%86%D0%B5-%D0%BC%D0%BE%D1%8F-%D0%BF%D1%80%D0%B5%D0%B1%D0%BB%D0%B0%D0%B3%D0%B0%D1%8F/728504260?mt=5&app=music' target='_blank')
      img.hero__img(src='/pritcha-main.png' alt='Фото всех членов вокального квартета Притча.')
  hr.delimiter-after-hero
  .newses
    .container
      h3.newses__title Новости коллектива:
      .newses__news.news
        a.news__name(href='#') Концерт в Елабуге
        p.news__text.

          15 ноября Вокальный квартет "Притча" выступил в городе Елабуга на благотоворительом концерте, который был посвящен 76-летию ВОС ООО «Елабуга УкупрПласт» — одного из старейших предприятий Всероссийского общества слепых и декаде инвалидов...

        .news__date Дата публикации: 15.11.2019
      .newses__news.news
        a.news__name(href='#') Выступление в музее истории Раифского монастыря
        p.news__text.

          Вокальный квартет "Притча" дал небольшое выступление на открытии музея истории Раифского монастыря, исполнив как духовные песнопения, так и русские романсы. Многолосие квартета и акустика только что открывшегося в башне XVII века музее никого не оставили равнодушным...

        .news__date Дата публикации: 11.06.2019
      .newses__news.news
        a.news__name(href='#') Запись нового музыкального альбома
        p.news__text.

          Новые музыкальные песнопения являются важнейшей частью жизни квартета "Притча". Именно по этой причине на данный момент коллектив готовится к выпуску нового музыкального альбома, в который войдут византийские распевы...

        .news__date Дата публикации: 10.06.2019
    footer.newses__footer
      .container
        a.newses__all-link(href='#').

          Ко всем новостям
