extends ../layouts/main.pug

block variables
  - var page = 'music'

block content
  .container
    h1 Музыка
  .apple-link-box
    .container
      .apple-links
        a.apple-links__apple-link.apple-link-listen(href='https://geo.music.apple.com/us/artist/pritcha/1465802523?mt=1&app=music' target='_blank')
        a.apple-links__apple-link.apple-link-watch(href='https://geo.music.apple.com/us/music-video/%D1%86%D0%B0%D1%80%D0%B8%D1%86%D0%B5-%D0%BC%D0%BE%D1%8F-%D0%BF%D1%80%D0%B5%D0%B1%D0%BB%D0%B0%D0%B3%D0%B0%D1%8F/728504260?mt=5&app=music' target='_blank')
  .container
    .music-page
      .music-page__albums.albums
        .album
          .album__cover
            img.album__cover-img(src='/cover-milost.jpg' alt='Обложка альбома Под твою милость')
          .album__information
            h2.album__title Под твою милость
            h3.album__description Духовные песнопения
            button.album__buy-button.button(href='https://geo.music.apple.com/us/album/beneath-thy-mercy/209220648?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
        .album
          .album__cover
            img.album__cover-img(src='/cover-queen.jpeg' alt='Обложка альбома Царице моя Преблагая')
          .album__information
            h2.album__title Царице моя Преблагая
            h3.album__description Духовные песнопения
            button.album__buy-button.button(href='https://geo.music.apple.com/us/album/my-heavenly-queen/209092195?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
        .album
          .album__cover
            img.album__cover-img(src='/cover-revival.jpeg' alt='Обложка альбома Возрождение')
          .album__information
            h2.album__title Возрождение
            h3.album__description Посвящается 100-летию Раифского монастыря
            button.album__buy-button.button(href='https://geo.music.apple.com/us/album/my-heavenly-queen/209092195?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
        .album
          .album__cover
            img.album__cover-img(src='/cover-bells.jpeg' alt='Обложка альбома Вeчерний звон')
          .album__information
            h2.album__title Вeчерний звон
            h3.album__description Сборник русских народных песен и романсов
            button.album__buy-button.button(href='https://geo.music.apple.com/us/album/those-evening-bells/209210461?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
        .album
          .album__cover
            img.album__cover-img(src='/cover-bride.jpeg' alt='Обложка альбома Радуйся, Невесто Неневестная')
          .album__information
            h2.album__title Радуйся, Невесто Неневестная
            h3.album__description Сборник русских народных песен и романсов
            button.album__buy-button.button(href='https://geo.music.apple.com/us/album/joy-heavenly-bride/208990774?mt=1&app=music' target='_blank' aria-label='Купить альбом') Купить
      .music-page__info
        p.music-article Музыка вокального квартета “Притча” наполнена духовностью и умиротворением. Все музыкальные композиции записываются в самом сердце Раифы - в соборе св. Троицы при приглашении профессионального звукорежиссёра. Процесс создания одного альбома занимает несколько месяцев, а иногда и лет, что говорит о профессиональном подходе к музыкальному делу и трепетном отношении к своей деятельности.
        p.music-article Русские народные песни и романсы, исполняемые “Притчей” несут в себе миссионерскую деятельность, рассказывая всему миру об удивительной русской культуре, о величайших поэтах и композиторах, когда-то живших на этих землях. Грузинские песни неразрывно связаны с историей Раифского монастыря, ведт здесь находится чудотворная икона Грузинской Божьей матери. А композиции на украинском, английском и других языках говорят о культурном многообразии нашего прекрасного мира.Но, конечно, духовная музыка остаётся главной, потому что  она приближает к Богу и одухотворяет человека, очищает его внутренние помыслы и делает этот мир умиротворённей.
