extends ../layouts/main.pug

block variables
  - var page = 'next'

block content
  .container
    h1 Ближайшие выступления
    p На данный момент концертные выступления не запланированы. Квартет "Притча" Вы можете послушать на службах в Раифском монастыре: во время вечерней в субботу (с 15:30) и утренней в воскресение (c 8:30). Точное время начала богослужения может изменяться.
    .news__date Информация обновлена: январь 2020 года
    p Для организации выступлений Вы можете связаться с коллективом по имеющимся на сайте контактам.
