@use "../../styles/variables";

.concerts--wrapper {
  display: block;
}

.no-concerts {
  display: none;
}

.concerts {
  display: flex;
  justify-content: space-between;
}

.concert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.concert-information__place {
  font-size: 1.5em;
  color: variables.$color-primary;
  margin-bottom: 0.5rem;
}

.concert-information__date {
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.concert__buy {
  white-space: nowrap;
  margin: 1em 0;
}

.concerts-page-information__article {
  font-size: 1em;
  color: variables.$color-text-dark;
  display: inline-block;
}

.concerts-page__quote {
  margin: 2em 0;
}

.concerts-page__quote-text {
  font-size: 2.5em;
  color: variables.$color-primary;
  margin: 0;
}

.concerts-page__quote-date {
  text-align: end;
  color: variables.$color-primary;
  margin: 0;
  margin-top: 1em;
}

@media (min-width: variables.$breakpoint) {
  .concerts__wrapper {
    display: flex;
    margin: -3em;
  }

  .concerts-page__information,
  .concerts__page,
  .no-concerts {
    margin: 3em;
  }

  .concerts-page__concerts {
    width: 90%;
  }

  .concerts-page__information {
    width: 80%;
  }
}
