@use "sass:color";
@use "../../styles/variables";

.header {
  background-color: variables.$color-secondary-light;
  flex: 0 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 -1rem;
  padding: 0.5em 0;
}

.header-left-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
}

.header-logo__img {
  height: 1.5em;
  display: block;
  margin: 1rem;
}

.header__close-button {
  margin-right: 1em;
}

.header-close-button {
  display: block;
  padding: 0.5em;
  background-color: transparent;
  border: none;
  position: relative;
  width: 3em;
  height: 3em;
}

.header__hamburger-button {
  margin-right: 1em;
}

.header-hamburger-button {
  display: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  background-color: transparent;
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  font-size: 1em;
}

.header-hamburger-button::before {
  display: block;
  content: "";
  background-color: variables.$color-text;
  width: 100%;
  height: 0.2em;
  border-radius: 0.1em;
  box-shadow: 0 0.55em variables.$color-text, 0 -0.55em variables.$color-text;
}

.header--collapsed .header__close-button,
.header--collapsed .header__right-column {
  display: none;
}

.header--collapsed .header-hamburger-button {
  display: flex;
}

.header-close-button::before,
.header-close-button::after {
  display: block;
  content: "";
  width: calc(100% - 1em);
  height: calc((100% - 1em) * 0.1);
  background-color: variables.$color-text;
  position: absolute;
}

.header-close-button::before {
  transform: rotate(45deg);
}

.header-close-button::after {
  transform: rotate(-45deg);
}

.header__right-column {
  margin: 0;
}

.header-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header-menu__link {
  display: inline-block;
  white-space: nowrap;
  color: variables.$color-text;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 2em;
  position: relative;
}

.header-menu__link:hover::after,
.header-menu__link.header-menu__link--active::after {
  display: block;
  content: "";
  height: 0.2rem;
  width: calc(100% - 2rem);
  background-color: variables.$color-primary;
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 1rem;
}

.header__button {
  margin: 0.5rem 1rem;
  white-space: nowrap;
}

@media (min-width: variables.$breakpoint) {
  .header {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.084) 0%,
      rgba(196, 196, 196, 0.105) 17.23%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header--collapsed .header-right-column {
    display: flex;
  }

  .header__close-button {
    display: none;
  }

  .header--collapsed .header-hamburger-button {
    display: none;
  }

  .header-right-column {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-menu ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
