mixin header(current_page)
  header.header.header--collapsed
    .container
      .header__wrapper
        .header__left-column.header-left-column
          a.header__logo.header-logo(href='/index.html')
            img.header-logo__img(src=require('../../images/pritcha-logo.svg').default alt='logo')
          button.header__close-button.header-close-button(aria-label='скрыть меню')
          button.header__hamburger-button.header-hamburger-button(aria-label='выправить меню')
        .header__right-column.header-right-column
          nav.header__menu.header-menu
            ul
              li
                - if (page === 'about')
                  a.header-menu__link.header-menu__link--active(href='/about.html') О коллективе
                - else
                  a.header-menu__link(href='/about.html') О коллективе
              li
                - if (page === 'music')
                  a.header-menu__link.header-menu__link--active(href='/music.html') Музыка
                - else
                  a.header-menu__link(href='/music.html') Музыка
              li
                - if (page === 'news')
                  a.header-menu__link.header-menu__link--active(href='/news.html') Новости
                - else
                  a.header-menu__link(href='/news.html') Новости
              li
                - if (page === 'next')
                  a.header-menu__link.header-menu__link--active(href='/next.html') Ближайшие выступления
                - else
                  a.header-menu__link(href='/next.html') Ближайшие выступления
              li
                -if (page === 'contacts')
                  a.header-menu__link.header-menu__link--active(href='/contacts.html') Контакты
                - else
                  a.header-menu__link(href='/contacts.html') Контакты
          a.button.button--big.header__button(href='https://zen.yandex.ru/pritcha?lang=ru' target='_blank' aria-label="Слушать музыку онлайн" rel="noopener") Слушать онлайн
