.socials
  a.socials__social-link.vk-link(href='https://vk.com/qpritcha' target='_blank')
    img.social-link__icon.vk-icon(src=require('../../images/vk-icon.svg').default alt='иконка для ссылки на официальную группу квартета Притча на сайте vk.com')
  a.socials__social-link.youtube-link(href='https://www.youtube.com/user/QuartetPritcha' target='_blank')
    img.social-link__icon.youtube-icon(src=require('../../images/youtube-icon.svg').default alt='иконка для ссылки на официальный канал квартета Притча на сайте Youtube.com')
