@use "sass:color";
@use "../../styles/variables";

.newses__title {
  margin: 1.2em 0;
  color: variables.$color-primary;
}

.newses__news {
  margin-bottom: 1.5em;
}

.news__name {
  margin: -0.5em -0.5em;
  font-family: "SPSL New Cyrillic", serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.2em;

  text-decoration: none;
  color: variables.$color-text;
  padding: 0.5em;
}

.news__text {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.news-date__wrapper {
  margin: 0.5em 0;
}

.news-date__text {
  font-size: 1em;
  text-align: right;
  color: variables.$color-primary;
}

.newses__all-link {
  padding: 0.5em;
  margin: 0 -0.5em 0 -0.5em;
  color: color.scale(variables.$color-secondary, $lightness: 1%);
  text-decoration: none;
  font-family: "SPSL New Cyrillic", serif;
  font-size: 1.5em;
}

.newses__all-link::after {
  content: "";
  display: inline-block;
  background-image: url("../../images/chevron.svg");
  background-repeat: no-repeat no-repeat;
  background-size: 0.8em 0.8em;
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
}

.newses__footer {
  background-color: variables.$color-primary;
  padding: 0.5em 0;
  border-radius: 0 0 1em 1em;
}
