h3.newses__title Новости коллектива:
.newses__news.news
  p.news__name 28 лет со дня основания вокального квартета Притча
  p.news__text 28 августа квартет Притча отмечает 28 лет со дня своего основания.
  .news__date Дата публикации: 08.01.2020
.newses__news.news
  p.news__name Выступление на Рождественской ёлке для детей в Раифском монастыре
  p.news__text 8 января у стен Раифского монастыря прошла Рождественская ёлка для детей, на которой выступил квартет «Притча» и исполнил праздничные колядки.
  .news__date Дата публикации: 08.01.2020
.newses__news.news
  p.news__name Благотворительный концерт в Елабуге
  p.news__text 15 октября в  актовом зале предприятия ВОС ООО «Елабуга УкупрПласт» состоялся благотворительный концерт вокального квартета «Притча» Раифского Богородицкого мужского монастыря Казанской епархии.
  .news__date Дата публикации: 15.10.2019
.newses__news.news
  p.news__name Выступление в музее истории Раифского монастыря
  p.news__text Вокальный квартет "Притча" дал небольшое выступление на открытии музея истории Раифского монастыря, исполнив как духовные песнопения, так и русские романсы. Многолосие квартета и акустика только что открывшегося в башне XVII века музея никого не оставили равнодушным.
  .news__date Дата публикации: 11.06.2019
.newses__news.news
  p.news__name Запись нового музыкального альбома
  p.news__text Новые музыкальные песнопения являются важнейшей частью жизни квартета "Притча". Именно по этой причине на данный момент коллектив готовится к выпуску нового музыкального сборника, в который войдут византийские распевы.
  .news__date Дата публикации: 10.06.2019

