mixin newses(newses)
  h3.newses__title Новости коллектива:
  each news in newses
    .newses__news.news
      p.news__name= news.title
      | !{news.textHTML}
      .news-date__wrapper
        p.news-date__text Дата публикации: #{news.date}
