extends ../../components/layout/template.pug
block variables
  - var page = 'donate'

block content
  .container
    p Если Вам нравится наше пение, Вы можете поддержать нас пожертвованием на карту Сбербанка переводом по номеру: +79172609656. Спаси Господи!



