@use "../../styles/variables";

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -1em;
}

.contact-icon__wrapper {
  margin: 1em;
}

.contact-text__wrapper {
  margin: 1em 0em;
}

.contact__text {
  color: variables.$color-text;
  font-size: 1em;
}

.tel-link {
  color: variables.$color-text;
  text-decoration: none;
}
