.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -1em;
}

.contact-icon__wrapper {
  margin: 1em;
}

.contact-text__wrapper {
  margin: 1em 0em;
}

.contact__text {
  font-size: 1em;
}
