.contacts
  .contact
    .contact-icon__wrapper
      img.contact__icon(src=require('../../images/call-icon.svg').default alt='иконка звонка')
    .contact-text__wrapper
      p.contact__text +79172609656 (руководитель квартета о. Сергий)
  .contact
    .contact-icon__wrapper
      img.contact__icon(src=require('../../images/mail-icon.svg').default alt='иконка почты')
    .contact-text__wrapper
      p.contact__text E-mail адрес: pritcha@mail.ru
  .contact
    .contact-icon__wrapper
      img.contact__icon(src=require('../../images/map-icon.svg').default alt='иконка карты')
    .contact-text__wrapper
      p.contact__text Россия, Республика Татарстан, Зеленодольский р-н, Раифский монастырь 422537
