.contacts
  .contact
    img.contact__icon(src=require('../../images/call-icon.svg').default)
    p.contact__text +791769656 (руководитель квартета о. Сергий)
  .contact
    img.contact__icon(src=require('../../images/mail-icon.svg').default)
    p.contact__text E-mail адрес: pritcha@mail.ru
  .contact
    img.contact__icon(src=require('../../images/map-icon.svg').default)
    p.contact__text Россия, Республика Татарстан, Зеленодольский р-н, Раифский монастырь 422537
