.contacts
  .contact
    img.contact__icon(src='/call-icon.svg')
    p.contact__text +791769656 (руководитель квартета о. Сергий)
  .contact
    img.contacts__icon(src='/mail-icon.svg')
    p.contact__text E-mail адрес: pritcha@mail.ru
  .contact
    img.contacts__icon(src='/map-icon.svg')
    p.contact__text Россия, Республика Татарстан, Зеленодольский р-н, Раифский монастырь 422537
